.left {
    float: left;
    margin-right: 1em;
    margin-top: 1em;
    padding: 1;
    background-color: PeachPuff;
}
h4,p 
{
    margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
    color: MediumSeaGreen;

        
}
.div1 {
    display: inline-block;
}
body {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    font-family: "Roboto", Arial, sans-serif;
    color: black;
    background: Honeydew; 
}
a {
    color: MediumSeaGreen;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; 
}
a:hover, a:active, a:focus {
      color: #F6490D;
      outline: none;
      text-decoration: none; 
}
fieldset:hover {
    background-color: PeachPuff;
    ;

}
.langua{
    background-color: DarkKhaki;
}
